<!DOCTYPE html>
<html lang="en">
	<head>

		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Boostrap Carousel Plugins-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		
		<style>
		/* Make the image fully responsive */
		.carousel-inner img {
			opacity: 0.85;
			width: 100%;
			height: 700px;
			max-height: 700px;
			object-fit: cover;
		}
		.center {
			position: absolute;
			top: 25%;
			left: 20%;
			transform: translate(-4%, -60%);
		}
		</style>
	</head>

	<body>
	
		<%= render "header" %>

		<!-- Home Page Content -->
		<div class ="content">
			<!-- Boostrap Carousel Content -->
			<div class="container-fluid" style="padding: 0;">

			  <div id="myCarousel" class="carousel slide" data-ride="carousel">

			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    	<li data-target="#myCarousel" data-slide-to="1"></li>
			    	<li data-target="#myCarousel" data-slide-to="2"></li>
			    	<li data-target="#myCarousel" data-slide-to="3"></li>
			    	<li data-target="#myCarousel" data-slide-to="4"></li>

			    </ol>

			    <!-- Wrapper for slides -->
			    <div class="carousel-inner">

					<div class="carousel-item active">
			        	<img src=" https://ubctabletennis.s3-us-west-2.amazonaws.com/UBCFebTournament_Banner.jpg" alt="February Tournament Photo">
						<%= render "carousel-caption" %>
			    	</div>

			    	<div class="carousel-item">
			        	<img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/BigTeamPhoto.jpg" alt="Main Team Photo">
						<%= render "carousel-caption" %>
			      	</div>

			      	<div class="carousel-item">
			        	<img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/joinus.jpg" alt="Join Us Photo">
						<%= render "carousel-caption" %>
			      	</div>
			    
			      	<div class="carousel-item">
			        	<img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/TeamPhotoFallDiv2019.jpg" alt="Competitive Team Photo">
						<%= render "carousel-caption" %>
			      	</div>

			      	<div class="carousel-item">
			        	<img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/funteamphoto.jpg" alt="Competitive Fun Photo">
						<%= render "carousel-caption" %>
			    	</div>

			    </div>

			    <!-- Left and right controls -->
			    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			  </div>
			</div>

			<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

			<div class="title" style="margin: 5%;">
				<h1>UBC Table Tennis Club</h1>
			</div>

			<div class="text" style="margin: 5%;">
				<h1>The University of British Columbia</h1>
				<h2>Table Tennis Club</h2>
				<p>
					Every Monday, Tuesday, Thursday, Friday @ AMS NEST 2nd Floor<br>
					5:00pm-8:00pm
				</p>
			</div>

		</div>

		<!-- Home Page Footer -->
		<%= render "footer" %>

	</body>
</html>