<!DOCTYPE html>
<html>
  <head>
    <title>UBC Table Tennis Club</title>
    <link rel='shortcut icon' href="https://ubctabletennis.s3-us-west-2.amazonaws.com/ubcttclogo.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
